.mouse {
  position: relative;

  @media screen and (max-width: 992px) {
    display: none;
  }

  .circle-large {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 150px;
    z-index: 2000;
    background: rgba(255, 254, 254, 0.091);
    transition: 0.17s ease-in-out;
    pointer-events: none;

    &.hovered {
      width: 30px;
      height: 30px;
      background: rgba(255, 254, 254, 0.091);
      ;
    }
  }

  .circle-minus {
    position: absolute;
    right: 0;
    top: 0;
    height: 10px;
    width: 10px;
    z-index: 2000;
    background-color: red;
    border-radius: 150px;
    transition: 0.15s ease-in-out;
    pointer-events: none;

  }
}