.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 350px;
  height: 60px;
  background: $color-1;
  color: white;
  z-index: 100;
  transition: 200ms ease-in-out;


  nav {
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      @include simple-center;
      cursor: pointer;

      .menu-burger {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        // background: rgb(117, 117, 117);
        @include simple-center;


        img {
          width: 30px;
          height: 30px;
          filter: invert(100%);
        }
      }

      span {
        padding: 0 5px;
        font-size: 1.2rem;
        padding: 10px;
        padding-bottom: 12px;
      }
    }
  }

  .nav-active {
    color: $color-3;

    img {
      background: $color-3;
      padding: 7px;
      border-radius: 7px;
    }
  }

  .sideNav {
    padding: 0 auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: white;
    color: black;
    display: block;
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
    transition: 400ms ease-in-out;
    z-index: 100;


    @media screen and (min-width: 600px) {
      max-width: 300px;
    }

    .sideNav-header {
      position: relative;
      padding-top: 20px;
      width: 100%;
      height: 100px;
      background-color: none;
      font-family: $font-2;
      background: $color-3;
      border-bottom: 2px solid rgba(20, 20, 20, 0.861);

      .close-icon {
        position: absolute;
        padding: 20px;
        left: 10px;
        top: 30px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @include simple-center;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
        }
      }


      .profile {
        @include simple-center;

        h3 {
          font-size: 1rem;
          text-align: center;
          font-weight: 200;
          margin-bottom: 10px;
        }

        h5 {
          font-size: 0.8rem;
          text-align: center;
          color: rgb(252, 252, 252);
          padding: 5px 8px;
          font-family: $font-1;
          font-weight: 100;
          border-radius: 7px;
          background-color: $color-1;
        }
      }
    }

    li:not(:first-child) {
      width: 100%;
      padding: 20px 0;
      transition: 0.3s ease-in-out;
      font-size: 1rem;
      font-family: $font-2;
      font-weight: 400;

      &:hover {
        // border-left: 10px solid $color-3;
        box-shadow: 1px 1px 3px rgba(54, 53, 53, 0.661);
        text-decoration: underline;
      }

      a {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        align-items: center;

        img {
          margin: 0 auto;
        }

        span {
          padding: 0 10px;
        }
      }
    }
  }

  .sideNav-close {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}