.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 350px;
  height: 60px;
  background: $color-2;
  color: white;
  z-index: 2000;


  nav {
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      @include simple-center;
      cursor: pointer;

      .menu-burger {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(205, 128, 128);
        @include simple-center;

        img {
          width: 30px;
          height: 30px;
          filter: invert(100%);
        }
      }

      span {
        padding: 0 5px;
        font-size: 1.2rem;
        padding: 10px;
        padding-bottom: 12px;
      }
    }
  }

  .nav-active {
    border-right: 2px solid rgb(28, 28, 28);
    color: $color-1;
  }

  .sideNav {
    padding: 0 auto;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 100vh;
    max-height: 100vh;
    background: white;
    color: black;
    display: block;
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
    transition: 1.2s ease-in-out;
    z-index: 2000;

    @media screen and (min-width: 600px) {
      max-width: 300px;
    }

    .sideNav-header {
      position: relative;
      width: 100%;
      height: 260px;
      background-color: none;
      font-family: $font-2;
      background: plum;
      border-bottom: 2px solid rgba(20, 20, 20, 0.861);

      .c-menu {
        width: 100%;
        height: 60px;
        padding: 5px;


        .close-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgb(22, 19, 19);
          @include simple-center;

          img {
            width: 30px;
            height: 30px;
            filter: invert(100%);
          }
        }
      }

      .profile {
        @include simple-center;

        .profile-picture {
          width: 90px;
          height: 90px;
          margin: 5px auto;
          border-radius: 10px;
          background: brown;
        }

        h3 {
          font-size: 1.1rem;
          text-align: center;
        }

        h5 {
          font-size: 0.8rem;
          text-align: center;
          color: rgb(252, 252, 252);
          padding: 5px;
          border-radius: 10px;
          background-color: palevioletred;
        }
      }
    }

    li:not(:first-child) {
      width: 100%;
      padding: 20px 0;
      transition: 0.3s ease-in-out;
      font-size: 0.9rem;

      &:hover {
        border-left: 10px solid $color-1;
        text-decoration: underline;

      }

      a {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        img {
          margin: 0 auto;
        }

        span {
          padding: 0 10px;
        }
      }
    }
  }

  .sideNav-close {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}