.social-network {
  display: flex;
  justify-content: flex-end;

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    width: 100px;
    display: flex;

    a {
      padding: 5px;
      transition: 0.5s ease-in-out;

      &:hover i {
        color: $color-3;
      }

      i {
        font-size: 1.4rem;
        color: rgb(255, 255, 255);
        transition: 0.5s ease-in-out;
      }
    }
  }
}