@font-face {
  font-family: "Poppins-Light";
  src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Righteous";
  src: url(../assets/fonts/Righteous-Regular.ttf);
}

$font-1: Poppins-Light;
$font-2: Poppins-Medium;
$font-3: Righteous;

// $color-0: rgb(250, 254, 255);
// $color-0: rgb(224, 238, 242);
$color-0:rgb(26, 43, 91);
// $color-1: rgb(6, 192, 221);
$color-1: rgb(7, 11, 38);
$color-2:rgb(2, 55, 111);
$color-3: rgb(11, 17, 44);
$color-4:#d4d4d4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {}

body {
  font-family: $font-3;
  font-size: 16px;
  background: $color-0;
  height: 100%;

}

ul {
  list-style-type: none;
  display: flex;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

@mixin simple-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

// glass effect mixin
@mixin glass-effect-1 {
  background: linear-gradient(135deg,
      rgba(252, 252, 252, 0.202),
      rgba(241, 245, 246, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px 0 rgba(193, 192, 192, 0.259);
  border: 2px solid rgba(255, 255, 255);
  border-radius: 5px;
}

@mixin glass-effect-2 {
  background: linear-gradient(135deg,
      rgba(252, 252, 252, 0.202),
      rgba(241, 245, 246, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px 0 rgba(193, 192, 192, 0.259);
  border-top: 3px solid rgb(255, 255, 255);
  border-left: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
}

@mixin skill-glass-effect {
  background: linear-gradient(135deg,
      rgba(252, 252, 252, 0.202),
      rgba(241, 245, 246, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 7px 0 rgba(193, 192, 192, 0.259);
  border-top: 3px solid rgb(255, 255, 255);
  border-left: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.section-title {
  font-family: $font-3;
  font-size: 2rem;
  margin-bottom: 18px;
  color: white;
  letter-spacing: 2px;
}

.link {
  padding: 10px 20px;
  border: 1px solid white;
  background: none;
  color: white !important;
}