@font-face {
  font-family: "Poppins-Light";
  src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

$font-1: Poppins-Light;
$font-2: Poppins-Medium;

$color-1:rgba(21, 24, 42, 0.828);
$color-2: rgb(21, 25, 43);
// $color-2: rgb(243, 246, 221);
$color-3: #32d8e5;
$color-4:rgb(245, 239, 239);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  background: $color-2 !important;
  overscroll-behavior: none;
  font-family: $font-2;
  font-size: 16px;
}

ul {
  list-style-type: none;
  display: flex;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

@mixin simple-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

// media queries max-width 768
@mixin maxWidth-768 {
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 97%;

  }
}

.section-title {
  width: max-content;
  font-family: $font-2;
  font-size: 2.7rem;
  margin-bottom: 18px;
  color: $color-3;

  // to get text-gradient
  // background: -webkit-linear-gradient($color-3, rgb(240, 3, 62) 90%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;

  @media screen and (max-width: 768px) {
    font-size: 2.1rem;
  }

  &:hover {
    text-shadow: 0 0 160px $color-3;
  }
}

em {
  color: $color-3;
  font-weight: 500;
}

.link {
  padding: 10px 20px;
  border: 1px solid white;
  background: none;
  color: white;

  @media screen and (max-width: 768px) {
    padding: 7px 15px;
  }

  &:hover {
    border: 1px solid rgb(32, 128, 227);
    box-shadow: 0 0px 10px rgba(32, 129, 227, 0.7);
  }
}